@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif!important;
    padding: 0;
}
.textPurple{
    color:rgb(113, 89, 193)!important;
}
.textPurple:hover
{
    color:rgb(76, 60, 131)!important;
}
.purple{
    color:rgb(113, 89, 193)!important;
}
.bg-primario{
    background-color:rgb(113, 89, 193)!important;

}
.bold{
    font-weight: bolder!important;
}
.xlargesize
{
    font-size: xx-large!important;
}
.largesize{
    font-size: larger!important;
}
.dropshadow
{
    box-shadow: rgb(113, 89, 193) 0.5px 0.3px 0.5px 0.2px;
    
}
.button
{
    border:0px!important;
    background-color: rgb(113, 89, 193)!important;
    padding: 4px 10px!important;
    border-radius: 5px!important;
    color: white!important;
    text-decoration: none!important;
}
.button:hover
{
    border:0px;
    background-color: rgb(84, 66, 143)!important;
    padding: 4px 10px!important;
    border-radius: 5px!important;
    color: white;
}
#butao
{
    align-items: center!important;
}
#jumbo
{
  
    text-align: center;
    color:rgb(113, 89, 193);
}
.card-product{
    -webkit-box-shadow: 4px 0px 98px -31px rgba(0,0,0,0.13);
    -moz-box-shadow: 4px 0px 98px -31px rgba(0,0,0,0.13);
    box-shadow: 4px 0px 98px -31px rgba(0,0,0,0.13);
}
.card-product img{
    height: 200px;
    max-width: 200px!important;
}
.comprar
{
    background-color: rgb(236, 234, 234);
    color:rgb(113, 89, 193);
    font-size: medium;    
}
.comprar:hover
{
    background-color: rgb(145, 145, 145);
    color:rgb(84, 66, 143);
}